* {
  font-family: 'Playfair Display', serif;
  margin: 0;
  color: white;
}

header {
  background-color: rgba(50, 51, 56, 0.8);
  padding-left: 200px;
  padding-right: 200px;
  text-align: justify;
  letter-spacing: .05rem;
  min-width: 300px;
}

.contact-box {
  font-size: 16px;
  text-align: end;
  padding-top: 10px;
}

.contact-box a {
  text-decoration: none;
}

.about-box h1 {
  font-size: 18px;
  padding-top: 100px;
}

.about-box {
  min-width: 300px;
  display: flex;
}

.about {
  text-align: justify;
  padding-right: 50px;
  padding-left: 250px;
  padding-top: 70px;

}

.about-box p {
  font-size: 16px;
  line-height: 23px;
  min-width: 250px;
  padding-bottom: 100px;
}

.content {
  font-size: 13px;
}

.content h2 {
  font-size: 16px;
}

.content h3 {
  font-size: 14px;
}

.skills-box {
  background-color: rgba(50, 51, 56, 0.8);
  padding-left: 200px;
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  min-width: 500px;
}

.skills {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 300px;
  min-width: 200px;
}

.skill {
  line-height: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
  min-width: 50px;
  width: 150px;
}

.skill li {
  list-style-type: none;
}

.projects-box {
  background-color: rgba(50, 51, 56, 0.8);
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 200px;
  display: flex;
  min-width: 500px;
}

.projects { 
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 170px;
  min-width: 200px;
  align-items: center;
}

.project {
  justify-content: space-between;
  padding-bottom: 20px;
  line-height: 25px;
  min-width: 100px;
  max-width: 400px;
  margin: 40px;
  letter-spacing: .05rem;
}

.project h3 {
  /* font-style: italic; */
  font-size: 16px;
  font-weight: bold;
}

footer a {
  font-size: 10px;
  float: right;
  background-color: white;
}
